### Configuración

In [1]:
# Instalación de MySQL Connector Python y Pandas
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: mysql-connector-python in c:\python310\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\python310\lib\site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Importación de MySQL Connector y Pandas
import mysql.connector
import pandas as pd

In [3]:
# Conexión a la base de datos de MySQL
cnx = mysql.connector.connect(
   host="localhost",
   port=3306,
   user="root",
   password='2023*DaSci',
   database='project_processpython'
)

In [5]:
# REVISAMOS TODAS LAS TABLAS DE LA BASE DE DATOS y Confirmamos el nombre de la tabla 6
# Realización de lecturas a nuestra base de datos creando un objeto llamado cursor.
cursor = cnx.cursor()
# Consulta de tablas
cursor.execute("SHOW TABLES")
#Extracción de información
all_tables = cursor.fetchall()
# all_tables

all_tables[7]

# Para cerrar el cursor
# cursor.close()

('n16_reportes',)

In [7]:
# Realización de lecturas a nuestra base de datos creando un objeto llamado cursor.
cursor = cnx.cursor()
# Consulta de la tabla REPORTES (n16_reportes)
cursor.execute("SELECT * FROM n16_reportes")
#Extracción de información
r_reportes = cursor.fetchall()
# r_reportes

# Revisión de una fila
r_reportes[0]

# Para cerrar el cursor
# cursor.close()

(1,
 datetime.date(2023, 11, 30),
 ' \tEDUCA18',
 datetime.date(2023, 11, 29),
 'sep-23',
 0.0,
 0.0,
 '0',
 '0')

In [9]:
# Construimos el DataFrame REPORTES (n16_reportes)
df_r_reportes = pd.DataFrame(r_reportes, columns=['clave_rep', 'fecha_rep', 'ticker_rep', 'pub_rep', 'cierre_rep', 'bpa_log_rep', 'bpa_prev_rep', 'gan_log_rep', 'gan_prev_rep'])

# Convertir la columna clave_rep en índice 
df_r_reportes = df_r_reportes.set_index('clave_rep', drop=True)
df_r_reportes.head()

,fecha_rep,ticker_rep,pub_rep,cierre_rep,bpa_log_rep,bpa_prev_rep,gan_log_rep,gan_prev_rep
clave_rep,,,,,,,,
1,2023-11-30,\tEDUCA18,2023-11-29,sep-23,0.0,0.0000,0,0
2,2023-11-30,\tFNOVA17,2023-11-29,sep-23,0.0,0.0000,0,0
3,2023-10-31,\tFCFE18,2023-10-27,sep-23,0.0,0.0000,0,0
4,2023-10-31,\tFUNO11,2023-10-26,sep-23,0.0,0.6122,0,6.34
5,2023-10-31,\tTERRA13,2023-10-26,sep-23,0.0,0.7061,-,1

### Análisis preliminar de la tabla

In [10]:
# Dimensiones del DataFrame REPORTES
df_r_reportes.shape

(110, 8)

In [11]:
# Tipos de datos de DataFrame REPORTES
df_r_reportes.dtypes

fecha_rep        object
ticker_rep       object
pub_rep          object
cierre_rep       object
bpa_log_rep     float64
bpa_prev_rep    float64
gan_log_rep      object
gan_prev_rep     object
dtype: object

### Despliegue del DataFrame

In [13]:
# Despliegue final de todo el DataFrame REPORTES. Solo se mostrarán algunos resultados.
df_r_reportes.head(30)

,fecha_rep,ticker_rep,pub_rep,cierre_rep,bpa_log_rep,bpa_prev_rep,gan_log_rep,gan_prev_rep
clave_rep,,,,,,,,
1,2023-11-30,\tEDUCA18,2023-11-29,sep-23,0.0000,0.0000,0,0
2,2023-11-30,\tFNOVA17,2023-11-29,sep-23,0.0000,0.0000,0,0
3,2023-10-31,\tFCFE18,2023-10-27,sep-23,0.0000,0.0000,0,0
4,2023-10-31,\tFUNO11,2023-10-26,sep-23,0.0000,0.6122,0,6.34
5,2023-10-31,\tTERRA13,2023-10-26,sep-23,0.0000,0.7061,-,1
6,2023-10-31,\tFMTY14,2023-10-25,sep-23,0.0000,0.0000,0,0
7,2023-10-31,\tFSHOP13,2023-10-23,sep-23,0.0000,0.0000,0,0
8,2023-10-31,DANHOS13,2023-10-19,sep-23,0.0000,0.5280,0,1.36
9,2023-08-31,\tEDUCA18,2023-08-30,jun-23,0.0000,0.0000,1.01,1.01
10,2023-08-31,\tFNOVA17,2023-08-30,jun-23,0.0000,0.0000,0.255,0.255
11,2023-07-31,\tFCFE18,2023-07-28,jun-23,0.0000,0.9900,0.962,0.962
12,2023-07-31,\tFUNO11,2023-07-27,jun-23,0.5720,0.5740,6.45,6.45
13,2023-07-31,\tTERRA13,2023-07-27,jun-23,0.6896,0.6896,0.967,0.956
14,2023-07-31,\tFMTY14,2023-07-26,jun-23,0.0000,0.0000,0.593,0
15,2023-07-31,\tFSHOP13,2023-07-25,jun-23,0.0000,0.0000,0.544,0
16,2023-07-31,DANHOS13,2023-07-20,jun-23,0.5200,0.5100,1.51,1.51
17,2023-05-31,\tFCFE18,2023-05-31,mar-23,0.6500,0.6500,0.512,0.512
18,2023-05-31,\tFNOVA17,2023-05-31,mar-23,2.0800,0.0000,0.26,0.26
19,2023-05-05,\tEDUCA18,2023-05-03,mar-23,0.5700,0.0000,1.01,0
20,2023-04-30,\tTERRA13,2023-04-27,mar-23,0.6794,0.7026,0.987,0.989
21,2023-04-30,\tFMTY14,2023-04-26,mar-23,-0.4900,0.0000,0.373,0
22,2023-04-30,\tFSHOP13,2023-04-26,mar-23,0.0000,0.0000,0.523,0
23,2023-04-30,\tFUNO11,2023-04-26,mar-23,0.5885,0.5870,6.38,6.24
24,2023-04-30,DANHOS13,2023-04-20,mar-23,0.5210,0.5210,1.45,1.45
25,2023-03-31,\tFCFE18,2023-03-01,dic-22,-0.2000,0.8100,0.969,0.969
26,2023-02-28,\tFNOVA17,2023-03-01,dic-22,1.7300,0.0000,0.2639,0.2639
27,2023-02-28,\tEDUCA18,2023-02-27,dic-22,1.6800,0.0000,1.01,0
28,2023-02-28,\tTERRA13,2023-02-23,dic-22,0.6800,0.7213,0.968,0.997
29,2023-02-28,\tFMTY14,2023-02-22,dic-22,0.3100,0.0000,0.377,0
30,2023-02-28,\tFUNO11,2023-02-22,dic-22,0.6100,0.6500,6.23,6.23